.features {
  display: flex;
  align-items: center;
  /* padding: 2rem 0; */
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureSettingContainer {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.featureSettingContainer::-webkit-scrollbar {
  display: none;
}

.featureSettingContainer > div {
  flex-shrink: 0;
}
.featureSettingContainer > div:not(:first-child) {
  border-left: 1px solid var(--ifm-hr-background-color);
}
