.features {
  display: flex;
  align-items: center;
  /* padding: 2rem 0; */
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureSettingContainer{
  display: flex;
  width: 100%;
  align-items: start;
  overflow-x: auto;
}

.featureSettingContainer::-webkit-scrollbar{
  display: none;
}